[build]
  base = "."
  command = "npm run build"
  publish = "build"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200


#[build]
#  base = "FoodMood"
#  command = "npm run build"
#  publish = "build"

# [[redirects]]
#  from = "/*"
#  to = "/index.html"
#  status = 200
